<app-message position="top-right"></app-message>
<header class="header bg-white border-bottom shadow-sm" *ngIf="!loading">
    <nav class="navbar navbar-expand-lg">
        <div class="header-left">
            <span class="navbar-brand logo">Analyzer</span>
        </div>
        <div class="header-right">
            <div class="left-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/analyzer" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/analyzer/activity" routerLinkActive="active">Activity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/analyzer/orders" routerLinkActive="active">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/analyzer/holdings" routerLinkActive="active">Holdings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/analyzer/funds" routerLinkActive="active">Funds</a>
                    </li>
                </ul>
            </div>
            <div class="right-nav">
                <div class="user-nav css-dropdown">
                    <label class="user-name css-dropdown-btn">
                        <i class="fa fa-user" aria-hidden="true"></i>{{userData.name}}
                    </label>
                    <ul class="css-dropdown-content">
                        <!--<li><a routerLink="/analyzer/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                        <li></li>-->
                        <li><a href="#" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container analyzer-page main-container">
    <app-loader [loading]="loading"></app-loader>
    <div class="analyzer-left" *ngIf="!loading">
        <analyzer-watchlist></analyzer-watchlist>
    </div>
    <div class="analyzer-right" *ngIf="!loading">
        <router-outlet></router-outlet>
    </div>
</div>