.analyzer-holding-page {
    padding: 2rem;
    .holding-table {
        margin-bottom: 6rem;
        tr {
            th {
                color: #9b9b9b;
                font-weight: 400;
            }
            &:hover .holding-menu {
                display: block;
            }
        }
        .exchange-name {
            padding: .1rem .3rem;
            font-size: .8rem;
            opacity: .7;
            margin-left: .2rem;
        }
        .holding-type {
            padding: .1rem .5rem;
            font-size: .9rem;
            &.buy {
                color: #4184f3;
                background-color: rgba(65,132,243,.1);
            }
            &.sell {
                color: #df514c;
                background-color: rgba(223,81,76,.1);
            }
        }
    }
    .total-report {
        margin: 0 1rem;
        .report-label {
            color: #9b9b9b;
        }
        .report-value {
            span {
                font-size: 1.5rem;
                margin-left: .5rem;
            }
        }
    }
    .empty-holding {
        text-align: center;
        padding-top: 10rem;
        color: #999;
    }
    .holding-menu {
        float: right;
        display: none;
        &:hover .css-dropdown-btn {
            color: #000;
            border: 1px solid #000;
        }
        .css-dropdown-btn {
            cursor: pointer;
            color: #9b9b9b;
            padding: 0 .5rem;
            border: 1px solid #9b9b9b;
        }
        .css-dropdown-content {
            top: 17px;
        }
    }
}