<app-message position="top-right"></app-message>
<app-loader [loading]="loading"></app-loader>
<div class="analyzer-holding-page">
    <div class="holding" *ngIf="holdingList.length>0">
        <h4 class="page-title">Holdings({{holdingList.length}})</h4>
        <div class="col-md-12 table-responsive">
            <table class="table holding-table">
                <thead>
                    <tr>
                        <th>Instrument</th>
                        <th>Qty.</th>
                        <th>Avg Price</th>
                        <th>LTP</th>
                        <th>Total Inv.</th>
                        <th>Current Value</th>
                        <th>P&L</th>
                        <th>Net Chg.</th>
                        <th>Day Chg.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of holdingList">
                        <td>{{row.stock.symbol}}<span class="exchange-name">{{row.stock.exchange_name}}</span></td>
                        <td>{{row.qty}}</td>
                        <td>{{row.avg_price}}</td>
                        <td>{{row.stock.last_price}}</td>
                        <td>{{row.inv_amount}}</td>
                        <td>{{row.cur_value}}</td>
                        <td [ngClass]="{'red':row.inv_amount>row.cur_value,'green': row.cur_value>row.inv_amount}">
                            {{row.pl_value}}</td>
                        <td [ngClass]="{'red':row.inv_amount>row.cur_value,'green': row.cur_value>row.inv_amount}">
                            {{row.net_change}}%</td>
                        <td [ngClass]="{'red':row.stock.prev_price>row.stock.last_price,'green': row.stock.prev_price<row.stock.last_price}">
                            {{row.stock.per_change}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row total-report">
            <div class="col-md-4">
                <h2 class="report-value">{{totalInvValue | number}}</h2>
                <div class="report-label">Total Investment</div>
            </div>
            <div class="col-md-4">
                <h2 class="report-value">{{totalCurrentValue | number}}</h2>
                <div class="report-label">Current Value</div>
            </div>
            <div class="col-md-4">
                <h2 class="report-value"
                    [ngClass]="{'red':totalInvValue>totalCurrentValue,'green': totalCurrentValue>totalInvValue}">
                    {{formatNumber(totalCurrentValue-totalInvValue)}}<span>({{formatNumber(((totalCurrentValue-totalInvValue)/totalInvValue)*100)}}%)</span>
                </h2>
                <div class="report-label">Profit and Loss</div>
            </div>
        </div>
    </div>
</div>