<app-message position="top-right"></app-message>
<app-loader [loading]="loading"></app-loader>
<div class="analyzer-order-page">
    <div class="open-order" *ngIf="openOrderList.length>0">
        <h4 class="page-title">Open Orders({{openOrderList.length}})</h4>
        <div class="col-md-12">
            <table class="table orderbook-table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Type</th>
                        <th width="20%">Instrument</th>
                        <th>Qty.</th>
                        <th>LTP</th>
                        <th>Price</th>
                        <th>SL</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of openOrderList">
                        <td>{{row.date}}</td>
                        <td><span class="order-type buy" *ngIf="!row.is_sell">BUY</span><span class="order-type sell"
                                *ngIf="row.is_sell">SELL</span></td>
                        <td>
                            {{row.stock.symbol}}<span class="exchange-name">{{row.stock.exchange_name}}</span>
                            <div class="css-dropdown order-menu">
                                <i class="fa fa-ellipsis-h css-dropdown-btn" aria-hidden="true"></i>
                                <div class="css-dropdown-content">
                                    <a (click)="cancelOrder(row)"><i class="fa fa-ban" aria-hidden="true"></i>Cancel</a>
                                </div>
                            </div>
                        </td>
                        <td>{{row.qty}}</td>
                        <td>{{row.stock.last_price}}</td>
                        <td>{{row.price}}</td>
                        <td>{{row.sl_price}}</td>
                        <td>
                            <span class="status">PENDING</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="executed-order" *ngIf="executedOrderList.length>0">
        <h4 class="page-title">Executed Orders({{executedOrderList.length}})</h4>
        <div class="col-md-12 .table-responsive">
            <table class="table orderbook-table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Type</th>
                        <th>Instrument</th>
                        <th>Qty.</th>
                        <th>Avg Price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of executedOrderList">
                        <td>{{row.executed_date}}</td>
                        <td><span class="order-type buy" *ngIf="!row.is_sell">BUY</span><span class="order-type sell"
                                *ngIf="row.is_sell">SELL</span></td>
                        <td>{{row.stock.symbol}}<span class="exchange-name">{{row.stock.exchange_name}}</span></td>
                        <td>{{row.qty}}</td>
                        <td>{{row.price}}</td>
                        <td>
                            <span class="status" *ngIf="row.status==='cancelled'">CANCELLED</span>
                            <span class="status completed" *ngIf="row.status==='completed'">COMPLETED</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>